<header class="sidebar-header">

    <div class="first">
        <div class="header-content">
            <a class="blog-title" href="{{@blog.url}}" title="{{@blog.title}}">
                {{@blog.title}}
                <span class="byline">{{@blog.description}}</span>
            </a>
            <div class="social-icons">
                <a href="https://twitter.com/tankredhase" title="Twitter" target="_blank">&#x6b;</a>
                <a href="https://github.com/tanx" title="GitHub" target="_blank">&#x6e;</a>
                <a href="https://www.linkedin.com/pub/tankred-hase/55/416/51a" title="LinkedIn" target="_blank">&#x6d;</a>
                <a href="{{@blog.url}}/rss/" title="RSS feed">&#x76;</a>
            </div>
        </div>
    </div>

    <div class="second">
        <a class="expander" title="Show menu">
        	<div class="expand"><span class="icon"></span>Menu</div>
        	<div class="collapse"><span class="icon collapse"></span>Collapse</div>
        </a>
		<!--div class="cover-wrapper">
			<img class="cover" src="{{@blog.cover}}" alt="" title="" />
		</div-->
        <ul class="main-menu">
            <li class="menu-item">
                <a href="{{@blog.url}}">Home</a>
            </li>
            <li class="menu-item">
                <a href="{{@blog.url}}/about/">About me</a>
            </li>
        </ul>
    </div>

</header>